# General.
cffi==1.16.0
wheel==0.38.0

# For pytorch3d.
fvcore==0.1.5.post20221221
iopath==0.1.9

# Lightning install overwrites the torch version, so we need to install it first.
lightning==2.0.3

# Torch.
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.0.1+cu118
torchvision==0.15.2
torchaudio==2.0.2

# Torch geometric.
--find-links https://data.pyg.org/whl/torch-2.0.0+cu118.html
pyg_lib==0.4.0
torch_scatter==2.1.2
torch_sparse==0.6.18
torch_cluster==1.6.3
torch_spline_conv==1.2.2

--find-links https://dl.fbaipublicfiles.com/pytorch3d/packaging/wheels/py39_cu118_pyt201/download.html
pytorch3d